#about-us {
    $black: #0a0a0a;
    $blue: #4a88da;
    $gray: #605757;
    position: relative;
    width: 100%;
    background-color: #fbfbfb;
    color: $black;
    padding: 3em 0;
    .container {
        width: 100%;
        display: flex;
        position: relative;
        .left {
            position: relative;
            padding: 0em 2em 2em 3em;
            width: calc(50% - 5em);
            h2 {
                font-size: 3.25em;
                font-weight: 400;
                font-family: "Nunito", sans-serif;
            }
            p {
                font-weight: 500;
                margin-top: 1em;
            }
            .tiles {
                position: relative;
                top: 2em;
                height: 10em;
                width: 45%;
            }
        }
        .right {
            position: relative;
            width: 50%;
            .rightImage {
                width: 90%;
                height: 80vh;
            }
        }
    }
    .about-us-footer {
        width: 100%;
        position: relative;
        .line {
            width: 33%;
            height: 0.5em;
            position: relative;
        }
        .blue-line {
            background-color: #4a88da;
            left: 60%;
        }
        .gray-line {
            margin-top: 1.5em;
            background-color: #605757;
            left: 35%;
        }
    }
}
