#clients {
    position: relative;
    background-color: #e5e5e5;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em 0 4.5em 0;

    h3 {
        font-weight: 700;
        font-family: "Montserrat", sans-serif;
    }
    .clients-list {
        width: 80%;
        position: relative;
        overflow-x: hidden;
        margin-top: 1em;
        transform: translateX(-5%);
        .client {
            width: 7.5em;
            height: 4em;
            margin: 1em 0;
        }
    }
    .purple-bg {
        margin-top: 2em;
        width: 100%;
        height: 20em;
        padding-top: 1.5em;
        background-color: #5969b2;
        position: relative;
        @media screen and (max-width: 1200px) {
            height: 17.5em;
        }
        @media screen and (max-width: 1000px) {
            height: 15em;
        }
        @media screen and (max-width: 750px) {
            height: 13.5em;
        }
        @media screen and (max-width: 640px) {
            height: 10.5em;
        }
        @media screen and (max-width: 450px) {
            height: 8.5em;
        }
        @media screen and (max-width: 350px) {
            height: 6.5em;
        }
        @media screen and (max-width: 260px) {
            height: 4.5em;
        }
        .clients-graphic {
            height: 22em;
            width: 80%;
            margin: 0 auto;
        }
    }
}
