#clients {
    position: relative;
    background-color: #e5e5e5;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em 0 4.5em 0;
    h3 {
        font-weight: 700;
        font-family: "Montserrat", sans-serif;
    }
    .clients-list {
        width: 80%;
        position: relative;
        overflow-x: hidden;
        margin-top: 1em;
        section {
            display: flex;
            flex-wrap: nowrap;
            gap: 4em;
            justify-content: space-evenly;
            width: max-content;
            height: max-content;
            padding: 0.75em 0;
            .client {
                width: 7.5em;
                height: 4em;
            }
        }
    }
    .purple-bg {
        margin-top: 2em;
        width: 100%;
        height: 20em;
        padding-top: 1.5em;
        background-color: #5969b2;
        position: relative;
        .clients-graphic {
            height: 22em;
            width: 80%;
            margin: 0 auto;
        }
    }
}
