@import "./mixins/flex.scss";
.contact {
    padding: 4em 0 2em 4.5em;
    position: relative;
    background: linear-gradient(
        135.03deg,
        #373737 0.51%,
        #1b1b1b 75.01%,
        #1b1b1b 75.01%
    );
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 600px) {
        padding: 4em 0 2em 2em;
    }
    @media screen and (max-width: 550px) {
        flex-direction: column;
        gap: 2em;
    }
    .left {
        width: 40%;
        @media screen and (max-width: 550px) {
            width: 100%;
        }
        h2 {
            font-weight: 600;
            font-family: "Montserrat", sans-serif;
            background: linear-gradient(#447ab6 100%, #2a4b70 100%);
            width: max-content;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        h2,
        p {
            margin-bottom: 1em;
        }
    }
    .right {
        width: calc(60% - 3em);
        padding: 0 1.5em;
        position: relative;
        @media screen and (max-width: 550px) {
            width: calc(100% - 3em);
            padding: 0;
        }
        form {
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2em;
            .form-row {
                display: flex;
                justify-content: space-between;
                width: 100%;
                input[type="text"] {
                    width: calc(45% - 2em);
                    padding: 0.5em 1em;
                }
                input[type="text"],
                textarea {
                    outline: none;
                    border: 0.5px solid #c6c6c6;
                    border-radius: 0.25rem;
                    background-color: #272727;
                    font-size: 1rem;
                    color: #c6c6c6;
                }
                textarea {
                    padding: 1em;
                    font-family: inherit;
                    width: calc(100% - 2em);
                    height: 5em;
                    resize: none;
                }
                input[type="submit"] {
                    outline: none;
                    border: 1px solid #4987d8;
                    padding: 0.5em 1em;
                    background-color: #4987d8;
                    border-radius: 1em;
                    font-size: 1rem;
                    color: #fff;
                    width: max(6em, 25%);
                    cursor: pointer;
                }
                input[type="submit"]:active {
                    transform: scale(1.2);
                }
                input[type="text"]:focus,
                textarea:focus,
                input[type="submit"]:focus {
                    border: none;
                    outline: 2px solid #447ab6;
                }
                @media screen and (max-width: 550px) {
                    flex-direction: column;
                    gap: 2em;
                    input[type="text"] {
                        width: calc(100% - 2em);
                    }
                    input[type="submit"] {
                        width: 60%;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
    .locations {
        @include flex-column(center, center, 2em);
        position: relative;
        margin-top: 1em;
        width: 100%;
        z-index: 0;
        h2 {
            font-weight: 600;
            font-family: "Montserrat", sans-serif;
            background: linear-gradient(#447ab6 100%, #2a4b70 100%);
            width: max-content;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .map {
            position: relative;
            @include flex-row(center, center, 2em);
            .left {
                @include flex-column(center, center, 2em);
                width: 50%;
                .row {
                    @include flex-row(flex-start, flex-start, 2em);
                    .circle {
                        z-index: 2;
                        position: relative;
                        width: 6em;
                        height: 6em;
                        border-radius: 50%;
                        background-color: #efefef;
                        color: #000;
                        text-align: center;
                        @include flex-row(center, center, 0);
                    }
                    .top-left {
                        transform: translateX(-2em) translateY(-2em);
                    }
                    .top-right {
                        transform: translateX(2em) translateY(-2em);
                    }
                    .bottom-left {
                        transform: translateX(-2em) translateY(2em);
                    }
                    .bottom-right {
                        transform: translateX(2em) translateY(2em);
                    }
                    .center {
                        transform: translateY(-12.5em);
                    }
                }
            }
            .right {
                width: calc(50% - 2em);
            }
        }
    }
}
