@import "./mixins/flex.scss";
.events {
    padding: 2em;
    position: relative;
    .list {
        @include flex-column(flex-start, flex-start, 1em);
        height: 60vh;
        width: 70%;
        overflow-y: auto;
        margin: 2em auto;
        padding: 1.5em;
        border: 1px solid #fbfbfb;
        border-radius: 0.5em;
        .event {
            @include flex-row(center, flex-start, 1em);
            padding-bottom: 1em;
            .left {
                width: 20rem;
                height: 15em;
            }
            .right {
                @include flex-column(flex-start, flex-start, 1em);
                padding: 1em;
                h3 {
                    color: #4b76b6;
                    font-size: 1.5rem;
                    font-weight: 600;
                }
                p {
                    font-weight: 400;
                    font-size: 1.25rem;
                    line-height: 2rem;
                }
            }
        }
    }
}
