.main {
    $blue: #4a88da;
    $black: #0a0a0a;
    position: relative;
    padding-top: 1em;
    z-index: 1;
    #home {
        position: relative;
        width: 100%;
        height: max-content;
        z-index: 2;
        padding: 1.5em 0 3.5em 0;
        display: flex;
        .left {
            position: relative;
            padding: 0em 2em 2em 3em;
            width: calc(50% - 5em);
            z-index: 2;
            h1 {
                font-family: "Montserrat", sans-serif;
                color: #ebebeb;
            }
            h2 {
                font-size: 1.5em;
                font-weight: 400;
                margin: 1em 0;
            }
            .blue {
                color: $blue;
            }
            .stats {
                width: calc(100% + 2em + 3em);
                background-color: $blue;
                display: flex;
                justify-content: space-around;
                position: relative;
                left: -3em;
                padding: 1em 0;
                h2 {
                    font-size: 2.5em;
                    font-weight: 700;
                    margin-top: 0;
                    margin-bottom: 0.5em;
                }
                h3 {
                    font-weight: 400;
                    font-size: 1.4em;
                }
            }
        }
        .right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            .rightImage {
                position: relative;
                height: 37.5em;
                width: 100%;
                margin: 0 auto;
                z-index: 2;
            }
        }
        a {
            border: 1px solid #ebebeb;
            border-radius: 0.25em;
            padding: 0.5em 1em;
            background-color: inherit;
            position: relative;
            top: 2.5em;
        }
        a:active {
            color: $black;
            background-color: #fff;
            border: 1px solid $black;
        }
        @media screen and (max-width: 600px) {
            flex-direction: column;
            h1 {
                font-size: 3rem;
            }
            h2 {
                font-size: 1.35rem;
            }
            .stats {
                h2 {
                    font-size: 2rem;
                }
                h3 {
                    font-size: 1.2rem;
                }
            }
            .left {
                width: calc(100% - 5em);
            }
            .right {
                width: 100%;
                .rightImage {
                    width: 50%;
                }
            }
        }
        @media screen and (max-width: 400px) {
            .right {
                .rightImage {
                    width: 75%;
                }
            }
        }
    }
}
