@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap");
@import "./navbar.scss";
@import "./home.scss";
@import "./about.scss";
@import "./whyPD.scss";
@import "./vision.scss";
@import "./reviews.scss";
@import "./clients.scss";
@import "./contact.scss";
@import "./commonFooter.scss";
@import "./company/about.scss";
@import "./company/careers.scss";
@import "./resources/case-study.scss";
@import "./resources/brochures.scss";
@import "./resources/openshift-captains.scss";
@import "./resources/media.scss";

:root {
    $font-size: 20px;
    --black: #0a0a0a;
    --blue: #4a88da;
    font-size: $font-size;
    color: #fff;
    font-family: "Quicksand", sans-serif;
    background: linear-gradient(135.03deg, #1b1b1b 75.01%, #1b1b1b 75.01%);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
    color: #fff;
}

h1 {
    font-size: 4rem;
    margin: 0;
}

h2 {
    font-size: 2.5rem;
    margin: 0;
}

h3 {
    font-size: 1.5rem;
    margin: 0;
}

p {
    margin: 0;
}

.nav-info {
    font-family: "Montserrat", sans-serif;
    display: flex;
    gap: 1.5em;
    align-items: center;
    justify-content: flex-start;
    p {
        font-weight: 500;
    }
    .arrow {
        width: 1.5em;
    }
    h1 {
        font-weight: 600;
        font-size: 2rem;
    }
}

@media screen and (max-width: 1400px) {
    :root {
        $font-size: 18px;
    }
}

@media screen and (max-width: 1200px) {
    :root {
        $font-size: 16px;
    }
}

@media screen and (max-width: 980px) {
    :root {
        $font-size: 14.5px;
    }
}

@media screen and (max-width: 780px) {
    :root {
        $font-size: 13px;
    }
}

@media screen and (max-width: 520px) {
    :root {
        $font-size: 11px;
    }
}
