@import "./mixins/flex.scss";

.industries {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fbfbfb;
    z-index: 1;
    .industries-img {
        position: relative;
        height: 75vh;
        width: 100%;
        text-align: center;
        z-index: 1;
        .nav-info {
            position: relative;
            top: 4em;
            left: 2em;
            width: max-content;
        }
        & > h2,
        & > p {
            position: relative;
            max-width: 65%;
            margin: 0 auto;
        }
        & > h2 {
            top: 10rem;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 2.2rem;
        }
        & > p {
            top: 12rem;
            font-weight: 400;
            font-size: 1rem;
        }
    }
    .edu-container {
        @include flex-row(center, flex-start, 1.5rem);
        padding: 3em 2em 0 2em;
        color: #010101;

        .left {
            @include flex-column(center, flex-start, 1.5em);
            h3 {
                font-size: 1.8rem;
                font-family: "Montserrat", sans-serif;
                line-height: 2rem;
                font-weight: 600;
            }
            ul {
                @include flex-column(flex-start, flex-start, 0.75em);
            }
        }
        .right {
            width: 30%;
            transform: translateY(-2rem);
        }
    }
    .tele-container {
        padding: 0;
        align-items: stretch;
        .left {
            flex: 0.7;
            background-color: #f7f6f6;
            align-items: center;
            justify-content: center;
            h3 {
                font-weight: 500;
                margin-bottom: 2rem;
            }
            button {
                font-size: 1.5rem;
                font-weight: 300;
                letter-spacing: 0.135em;
            }
            .blue {
                color: #4987d8;
            }
        }
        .right {
            @include flex-column(center, center, 2rem);
            transform: none;
            flex: 1;
            padding: 3em 2.5em 3em 0;
            .tele-img {
                width: 27rem;
                height: 17rem;
                flex: 4;
            }
            h3 {
                font-weight: 500;
                font-size: 1.8rem;
            }
            h3,
            p {
                text-align: center;
            }
        }
    }
    .healthcare-container {
        @include flex-column(center, center, 1em);
        text-align: center;
        color: #010101;
        padding: 2em;
        h2 {
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            font-size: 1.75rem;
        }
        .healthcare-img {
            margin-top: 1.5rem;
            position: relative;
            width: 21.5rem;
            height: 15rem;
        }
    }
}
