@import "./mixins/flex.scss";

.industries {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fbfbfb;
    z-index: 1;
    .industries-img {
        position: relative;
        height: 33rem;
        width: 100%;
        text-align: center;
        z-index: 1;
        @media screen and (max-width: 650px) {
            height: 36rem;
        }
        .nav-info {
            position: relative;
            top: 4em;
            left: 2em;
            width: max-content;
        }
        & > h2,
        & > p {
            position: relative;
            max-width: 65%;
            margin: 0 auto;
            @media screen and (max-width: 350px) {
                max-width: 80%;
            }
        }
        & > h2 {
            top: 10rem;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 2.2rem;
            @media screen and (max-width: 400px) {
                top: 7rem;
            }
            @media screen and (max-width: 250px) {
                top: 5rem;
            }
        }
        & > p {
            top: 12rem;
            font-weight: 400;
            font-size: 1rem;
            @media screen and (max-width: 400px) {
                top: 9rem;
            }
            @media screen and (max-width: 250px) {
                top: 7rem;
            }
        }
    }
    .edu-container {
        @include flex-row(center, center, 1.5rem);
        padding: 3em 2em 3em 2em;
        color: #010101;
        @media screen and (max-width: 550px) {
            flex-direction: column;
        }
        .left {
            @include flex-column(center, flex-start, 1.5em);
            flex: 4;
            h3 {
                font-size: 1.8rem;
                font-family: "Montserrat", sans-serif;
                line-height: 2rem;
                font-weight: 600;
            }
            ul {
                @include flex-column(flex-start, flex-start, 0.75em);
            }
        }
        .right {
            transform: translateY(-2rem);
            flex: 1;
            @media screen and (max-width: 1300px) {
                flex: 1.5;
            }
            @media screen and (max-width: 950px) {
                flex: 2;
            }
            @media screen and (max-width: 670px) {
                flex: 3;
            }
            @media screen and (max-width: 550px) {
                width: 50%;
            }
            @media screen and (max-width: 450px) {
                width: 75%;
            }
        }
    }
    .tele-container {
        padding: 0;
        align-items: stretch;
        @media screen and (max-width: 550px) {
            align-items: center;
            margin-top: 2em;
        }
        .left {
            flex: 0.7;
            background-color: #f7f6f6;
            align-items: center;
            justify-content: center;
            padding: 2em;
            h3 {
                font-weight: 500;
                margin-bottom: 2rem;
            }
            button {
                font-size: 1.5rem;
                font-weight: 300;
                letter-spacing: 0.135em;
            }
            .blue {
                color: #4987d8;
            }
        }
        .right {
            @include flex-column(center, center, 2rem);
            transform: none;
            flex: 1;
            padding: 3em 2.5em 3em 0;
            position: relative;
            .tele-img {
                width: 40%;
                @media screen and (max-width: 980px) {
                    width: 60%;
                }
                @media screen and (max-width: 700px) {
                    width: 80%;
                }
            }
            h3 {
                font-weight: 500;
                font-size: 1.8rem;
            }
            h3,
            p {
                text-align: center;
            }
        }
    }
    .healthcare-container {
        @include flex-row(center, center, 3em);
        color: #010101;
        padding: 2em;
        @media screen and (max-width: 550px) {
            flex-direction: column;
        }
        .left {
            @include flex-column(flex-start, flex-start, 1em);
            flex: 4;
            h2 {
                font-family: "Montserrat", sans-serif;
                font-weight: 400;
                font-size: 1.75rem;
            }
        }
        .healthcare-img {
            flex: 1.75;
            @media screen and (max-width: 1050px) {
                flex: 2.25;
            }
            @media screen and (max-width: 760px) {
                flex: 3;
            }
            @media screen and (max-width: 550px) {
                width: 50%;
            }
            @media screen and (max-width: 450px) {
                width: 75%;
            }
        }
    }
}
