@import "./mixins/flex.scss";

.nav {
    z-index: 3;
    --size: 4rem;
    --space: 1.5rem;
    --bgColor: #1b1b1b;
    --textColor: #fff;
    height: var(--size);
    width: var(--size);
    border-radius: 50%;
    background-color: var(--bgColor);
    color: var(--textColor);
    position: sticky;
    top: var(--space);
    left: var(--space);
    transition: all 0.75s;
    &::after,
    &::before {
        position: absolute;
        content: "";
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
        height: 0.25em;
        background-color: #5e9cea;
    }
    &::after {
        top: calc(var(--size) / 3);
    }
    &::before {
        bottom: calc(var(--size) / 3);
    }
}

.logo {
    position: absolute;
    width: 12em;
    height: 4em;
    top: 1rem;
    left: calc(4rem + 1.5rem + 3rem);
}

.nav-mobile-opened {
    font-family: "Montserrat", sans-serif;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
    background: #292929;
    padding: 1rem;
    padding-top: 2rem;
    height: calc(100vh - 2rem);
    width: calc(100% - 2rem);
    @include flex-column(center, flex-start, 1.5em);
    font-size: 1.2rem;
    h3 {
        font-family: inherit;
        font-weight: 400;
        font-size: 1.8rem;
    }
    .nav-icon {
        width: 4rem;
        height: 4rem;
        margin-top: auto;
        margin-bottom: 2rem;
        cursor: pointer;
    }
    .dropdown {
        display: none;
        height: 0;
    }
}
