@import "./mixins/flex.scss";

.nav {
    z-index: 3;
    --size: 4rem;
    --space: 1.5rem;
    --bgColor: #1b1b1b;
    --textColor: #fff;
    height: var(--size);
    width: var(--size);
    border-radius: 50%;
    background-color: var(--bgColor);
    color: var(--textColor);
    position: sticky;
    top: var(--space);
    left: var(--space);
    transition: all 0.75s;
    &::after,
    &::before {
        position: absolute;
        content: "";
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
        height: 0.25em;
        background-color: #5e9cea;
    }
    &::after {
        top: calc(var(--size) / 3);
    }
    &::before {
        bottom: calc(var(--size) / 3);
    }
}

.logo {
    position: absolute;
    width: 12em;
    height: 4em;
    top: 1rem;
    left: calc(4rem + 1.5rem + 3rem);
}

.nav-mobile-opened {
    font-family: "Montserrat", sans-serif;
    position: relative;
    top: 0;
    left: 0;
    z-index: 3;
    background: #292929;
    padding: 4rem;
    padding-top: 6rem;
    width: calc(100% - 8rem);
    min-height: calc(100vh - 10rem);
    @include flex-column(flex-start, flex-start, 0);
    font-size: 1.5rem;
    & > div {
        position: relative;
        width: 100%;
        padding: 0.75em 0;
        p {
            cursor: pointer;
        }
    }

    .active {
        & > p,
        & > a {
            color: #4987d8;
            font-weight: 600;
        }
    }
    .active-sublink {
        color: #4987d8;
    }
    h3 {
        font-family: inherit;
        font-weight: 400;
        font-size: 2rem;
        padding-bottom: 0.75rem;
    }
    .nav-icon {
        width: 4rem;
        height: 4rem;
        cursor: pointer;
        position: absolute;
        bottom: 10vh;
        left: 50%;
        transform: translateX(-50%);
    }
    .dropdown {
        display: none;
        height: 0;
    }
    .dropdown-open {
        margin-top: 1.5em;
        @include flex-column(flex-start, flex-start, 1.5em);
        height: max-content;
    }
    .active-bg {
        background: #333;
        padding: 0.75em 4rem;
        transform: translateX(-4rem);
    }
}
