#reviews {
    padding: 5em 4em 3em 4em;
    width: calc(100% - 8em);
    position: relative;
    background: linear-gradient(116.18deg, #447ab6 0%, #9933a3 99.08%);
    h2 {
        font-weight: 400;
        font-size: 2em;
        max-width: 60%;
        position: relative;
        .underline {
            position: relative;
        }
        .underline::after {
            content: "";
            position: absolute;
            height: 0.1em;
            width: 100%;
            bottom: -0.2em;
            left: 0;
            background-color: #fff;
        }
    }
    .review {
        display: flex;
        align-items: center;
        gap: 10em;
        padding: 4em;
        width: calc(100% - 8em);
        height: 18em;
        .text {
            width: 70%;
            font-weight: 300;
            line-height: 1.5em;
            font-size: 1.2rem;
        }
        .reviewer {
            display: flex;
            flex-direction: column;
            height: 7.5em;
            align-items: center;
            justify-content: center;
            gap: 2em;
            width: 25%;
            .profile {
                height: 5em;
                width: 5em;
                box-shadow: 0.25em 0.25em 0.15em 0.15em rgba(0, 0, 0, 0.1),
                    -0.25em -0.25em 0.15em 0.15em rgba(0, 0, 0, 0.1);
                border-radius: 50%;
                img {
                    border-radius: 50%;
                }
            }
            p {
                font-weight: 500;
            }
        }
    }
    .controls {
        width: 20%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        .arrow {
            position: relative;
            height: 2em;
            width: 45%;
            img {
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    #reviews {
        .review {
            width: calc(100% - 4em);
            .text {
                width: 90%;
                line-height: 1.25em;
            }
        }
    }
}

@media screen and (max-width: 1150px) {
    #reviews {
        h2 {
            max-width: 80%;
        }
        .review {
            height: 24rem;
            padding: 3em 4em;
            .text {
                width: 100%;
            }
        }
    }
}
