#reviews {
    padding: 5em 4em 3em 4em;
    width: calc(100% - 8em);
    position: relative;
    background: linear-gradient(116.18deg, #447ab6 0%, #9933a3 99.08%);
    @media screen and (max-width: 1000px) {
        padding: 4em 2em 2em 2em;
        width: calc(100% - 4em);
    }
    @media screen and (max-width: 750px) {
        padding: 2em 0 2em 1em;
        width: calc(100% - 1em);
    }
    h2 {
        font-weight: 400;
        font-size: 2em;
        max-width: 60%;
        position: relative;
        @media screen and (max-width: 800px) {
            max-width: 80%;
        }
        .underline {
            position: relative;
        }
        .underline::after {
            content: "";
            position: absolute;
            height: 0.1em;
            width: 100%;
            bottom: -0.2em;
            left: 0;
            background-color: #fff;
        }
    }
    .review {
        display: flex;
        align-items: center;
        gap: 10em;
        padding: 4em;
        width: calc(100% - 8em);
        height: 18em;
        @media screen and (max-width: 1250px) {
            padding: 2em;
            width: calc(100% - 4em);
        }
        @media screen and (max-width: 1250px) {
            padding: 1em;
            gap: 5em;
            width: calc(100% - 2em);
        }
        @media screen and (max-width: 650px) {
            flex-direction: column;
            justify-content: flex-start;
            height: 28em;
            gap: 2.5em;
        }
        @media screen and (max-width: 475px) {
            height: 30em;
            padding: 1em 0;
        }
        @media screen and (max-width: 400px) {
            height: 38em;
        }
        @media screen and (max-width: 340px) {
            height: 44em;
        }
        @media screen and (max-width: 290px) {
            height: 48em;
        }
        .text {
            width: 70%;
            font-weight: 300;
            line-height: 1.5em;
            font-size: 1.2rem;
            @media screen and(max-width: 50px) {
                width: 100%;
            }
            &::before {
                content: open-quote;
            }
            &::after {
                content: close-quote;
            }
        }
        .designation {
            font-weight: 300;
            font-size: 1.2rem;
            width: 50%;
        }
        .reviewer {
            display: flex;
            flex-direction: column;
            height: 7.5em;
            align-items: center;
            justify-content: center;
            gap: 1em;
            width: 25%;
            .profile {
                height: 6em;
                width: 6em;
                box-shadow: 0.25em 0.25em 0.15em 0.15em rgba(0, 0, 0, 0.1),
                    -0.25em -0.25em 0.15em 0.15em rgba(0, 0, 0, 0.1);
                border-radius: 50%;
                @media screen and (max-width: 750px) {
                    height: 5em;
                    width: 5em;
                }
                img {
                    border-radius: 50%;
                }
            }
            p {
                font-weight: 500;
                text-align: center;
            }
        }
    }
    .controls {
        width: 20%;
        position: absolute;
        bottom: 1em;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 650px) {
            width: 30%;
            left: 49%;
        }
        @media screen and (max-width: 450px) {
            width: 45%;
            left: 45%;
        }
        .arrow {
            position: relative;
            height: 2em;
            width: 45%;
            img {
                cursor: pointer;
            }
            @media screen and (max-width: 850px) {
                height: 1.5em;
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    #reviews {
        .review {
            width: calc(100% - 4em);
            .text {
                width: 90%;
                line-height: 1.25em;
            }
        }
    }
}
