.about-company {
    padding: 1em 2em 3em 2em;
    position: relative;
    .squares {
        position: absolute;
        width: 10rem;
        height: 7rem;
    }
    .squares-top-right {
        top: 2em;
        right: 2em;
    }
    main {
        display: flex;
        gap: 2em;
        padding: 2em 0;
        .left {
            position: relative;
            left: -2em;
            background-color: #4a87d9;
            flex: 1;
            height: 65vh;
            .squares-bottom-right {
                bottom: -4em;
                right: -6em;
            }
            .video {
                border: 1em solid #c4c4c4;
                position: absolute;
                width: 80%;
                height: 55%;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
        }
        .right {
            position: relative;
            flex: 1;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            p {
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.5rem;
                max-width: 80%;
            }
        }
    }
}
.management {
    position: relative;
    background: #fbfbfb;
    color: #000;
    padding: 5em 0em 2em 0em;
    h2 {
        text-align: center;
        font-weight: 500;
    }
    .profile-list {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 2em 0;
        .profile {
            display: flex;
            flex-direction: row;
            @media screen and (max-width: 500px) {
                flex-direction: column;
                gap: 1em;
                .left {
                    flex: 1;
                }
                .right {
                    align-items: center;
                    padding-right: 0;
                }
            }
            width: 100%;
            padding: 1em 0;
            &:nth-child(even) {
                background-color: #f5f5f5;
            }
            .left {
                display: flex;
                flex: 0.5;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                gap: 1em;
                @media screen and (max-width: 500px) {
                    flex: 1;
                }
                .profile-img {
                    width: 8rem;
                }
                h3 {
                    font-weight: 600;
                    font-size: 1.75rem;
                    text-align: center;
                }
                p {
                    font-weight: 500;
                    color: #4a87d9;
                    text-align: center;
                    max-width: 70%;
                }
            }
            .right {
                position: relative;
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 1.5em;
                padding-right: 2.5em;
                @media screen and (max-width: 500px) {
                    align-items: center;
                    padding: 0 1.5em;
                }
                .socials {
                    display: flex;
                    align-items: center;
                    gap: 1em;
                    @media screen and (max-width: 500px) {
                        gap: 5em;
                    }
                    .icon {
                        border-radius: 0.55rem;
                        width: 2rem;
                        height: 2rem;
                        &:first-child {
                            width: 1.8rem;
                            height: 1.8rem;
                        }
                    }
                }
            }
        }
    }
}
.about-company-footer {
    position: relative;
    padding: 3.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-align: center;
    h2 {
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        background: linear-gradient(#447ab6 100%, #2a4b70 100%);
        width: max-content;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    p {
        max-width: 75%;
    }
    a {
        border: 1px solid #4987d8;
        border-radius: 0.25em;
        padding: 0.5em 1em;
        background-color: #4987d8;
        position: relative;
        margin: 2.5rem 0;
        &:focus {
            border: 1px solid #fff;
        }
    }
    .squares {
        position: absolute;
        width: 9.5rem;
        height: 7.5rem;
    }
    .top-right {
        top: 2.5rem;
        right: 1.5rem;
    }
    .bottom-left {
        bottom: 2.5rem;
        left: 1.5rem;
    }
}
