@import "../mixins/drodpdown.scss";
@import "../mixins/flex.scss";
.company-careers {
    position: relative;
    background-color: #fbfbfb;
    color: #020202;
    padding: 2em;
    z-index: 1;
    .add-job {
        @include flex-column(center, flex-start, 1em);
        padding: 0 5em;
        margin-bottom: 2em;
        position: relative;
        .row {
            @include flex-row(space-between, center, 4em);
        }
        input[type="text"] {
            border-radius: 0.25em;
            border: 0.5px solid #060606;
            padding: 0.5em 1em;
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            font-size: 1rem;
            background-color: inherit;
            outline: none;
            width: 30rem;
        }
        button {
            color: #fbfbfb;
            padding: 0.75em 1em;
            background-color: #4987d8;
            width: 10rem;
            border-radius: 0.25em;
            &:focus {
                border: 1px solid black;
            }
        }
        .dropdown {
            @include my-dropdown(#060606, #060606);
            width: 32rem;
        }
        textarea {
            font-family: inherit;
            font-size: 1rem;
            background-color: inherit;
            resize: none;
            width: 45rem;
            height: 5rem;
            border: 0.5px solid #060606;
            border-radius: 0.5em;
            padding: 0.5em 1em;
            &:focus {
                border-bottom: 1px solid #454545;
                outline: none;
            }
        }
    }
    .slogan {
        padding: 2em 0;
        text-align: center;
        h2 {
            font-weight: 400;
            font-family: "Nunito", sans-serif;
        }
    }
    .jobs-filter {
        position: relative;
        background-color: #f5f5f5;
        padding: 3em;
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        margin-bottom: 2em;
        max-height: 6rem;
        z-index: 3;
        & > div {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 10em;
            overflow-y: visible;
            input[type="text"] {
                border-radius: 0.25em;
                border: 0.5px solid #060606;
                padding: 0.5em 1em;
                font-family: "Open Sans", sans-serif;
                font-weight: 400;
                font-size: 1rem;
                background-color: inherit;
                outline: none;
            }
            &:first-child {
                position: relative;
                width: 100%;
                input[type="text"] {
                    width: 100%;
                }
            }
            &:nth-child(2) {
                input[type="submit"] {
                    font-weight: 600;
                    border-radius: 0.25em;
                    padding: 0.5em 1em;
                    font-family: "Quicksand", sans-serif;
                    color: #f9f9f9;
                    font-size: 1rem;
                    background-color: #4987d8;
                    outline: none;
                    border: 2px solid #4987d8;
                    &:focus {
                        border: 2px solid black;
                    }
                    width: 15%;
                }
                .dropdown {
                    @include my-dropdown(#060606, #060606);
                }
            }
            input[type="text"]:focus {
                border: 0.5px solid #4987d8;
            }
            @media screen and (max-width: 750px) {
                gap: 5em;
            }
            @media screen and (max-width: 500px) {
                gap: 1.5em;
                flex-direction: column;
            }
        }
        @media screen and (max-width: 500px) {
            max-height: 14rem;
        }
    }
    .jobs-list {
        z-index: 1;
        position: relative;
        padding: 1em 2em;
        max-height: 70vh;
        width: 80%;
        overflow-y: auto;
        margin: 0 auto;
        border-radius: 0.6em;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        background-color: #fbfbfb;
        & > h3 {
            font-family: "Monserrat", sans-serif;
            font-size: 1.2rem;
            text-align: center;
            padding: 1em;
            font-weight: 400;
        }
        .error-message {
            color: red;
            margin: 1em auto;
        }
        .job {
            display: flex;
            border-bottom: 1px solid black;
            padding-bottom: 2em;
            margin-bottom: 1.5em;
            .left {
                flex: 0.25;
                .job-img {
                    width: 7.5rem;
                    height: 7.5rem;
                    @media screen and (max-width: 550px) {
                        width: 5rem;
                        height: 5rem;
                    }
                    @media screen and (max-width: 350px) {
                        width: 3.5rem;
                        height: 3.5rem;
                    }
                }
                @media screen and (max-width: 500px) {
                    flex: 0.2;
                }
                @media screen and (max-width: 350px) {
                    flex: 0.15;
                }
            }
            .right {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 2em;
                div {
                    display: flex;
                    button {
                        color: #fbfbfb;
                        padding: 0.5em 1em;
                        background-color: #4987d8;
                        border-radius: 0.15em;

                        &:focus {
                            border: 1px solid black;
                        }
                    }
                    &:first-child {
                        justify-content: space-between;
                        align-items: flex-start;
                        gap: 4em;
                        div {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            gap: 0.5em;
                            h3 {
                                font-weight: 600;
                            }
                            p {
                                font-weight: 500;
                            }
                        }
                        a {
                            color: #fbfbfb;
                            padding: 0.5em 1em;
                            background-color: #4987d8;
                            border-radius: 0.15em;
                            &:focus {
                                border: 1px solid black;
                            }
                        }
                    }
                    &:nth-child(2) {
                        justify-content: space-around;
                        @media screen and (max-width: 350px) {
                            flex-wrap: wrap;
                            justify-content: space-between;
                            gap: 1.5em;
                        }
                        p {
                            color: #4987d8;
                        }
                    }
                    &:nth-child(4) {
                        justify-content: space-between;
                    }
                }
                input[type="text"],
                textarea {
                    font-family: inherit;
                    font-size: 1rem;
                    border: none;
                    background-color: inherit;
                    resize: none;
                    width: 70%;
                    height: 3rem;
                    &:focus {
                        outline: none;
                        border-bottom: 1px solid #454545;
                    }
                }
            }
        }
        @media screen and (max-width: 550px) {
            width: 90%;
            padding: 1em;
        }
    }
    @media screen and (max-width: 500px) {
        padding: 2em 1em;
    }
}
