.company-careers {
    position: relative;
    background-color: #fbfbfb;
    color: #020202;
    padding: 2em;
    .slogan {
        padding: 2em 0;
        text-align: center;
        h2 {
            font-weight: 400;
            font-family: "Nunito", sans-serif;
        }
    }
}
